:root {
    --screen-font: 'Major Mono Display', sans-serif;
    --disp-width: 150px;
    --dark-grey: rgb(70, 70, 70);
    --border-radius: 5px;

}

body,
.container,
.calculator,
.display-container,
.top-disp,
.bot-disp,
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container {

}

.calculator {
    flex-direction: column;
}

.display-container {
    flex-direction: column;

    font-family: var(--screen-font);
    border: 2px solid var(--dark-grey);
    border-radius: var(--border-radius);
    margin-bottom: 5px;
}

.top-disp,
.bot-disp {
    justify-content: flex-end;

    width: var(--disp-width);
}

.history-digits {

}

.current-operator {
    padding-right: 10px;
}

.current-digits {

}

.input-container {
    flex-direction: column;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2px;
    width: var(--disp-width);
}

